@use '../themes/defaultTheme' as *;
@use '../util/variables' as *;
@use '../util/mixins' as *;

.search-form {
    // display: block;
    width: 100%;
    padding:1%;
    position: fixed;
    // left: 0;
    // right: 0;
    top: 0;
    background-color: $primary-2;
    // border: 1px solid #000;
    box-shadow: $light-shadow;
  h2 {
    text-align: center;
    margin: auto;
    font-weight: bold;
  }
  .form-input {
    // background: $white;
    padding: 0.1rem 1rem;
    border-bottom: 5px solid $secondary-6;
    width: 25rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    outline: none;
  }
}
